:root {
  font-size: 20px;
  --body-bg-color: #bebebe;
}

body { 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--body-bg-color);
}

body * + * { /* lobotomized owl (margin trick) */
  /* margin-top: 1.5em; */
}
